.primary-btn:hover span:nth-child(1) {
    -webkit-transition-delay: 0.01s;
    -moz-transition-delay: 0.01s;
    -o-transition-delay: 0.01s;
    transition-delay: 0.01s;
}

.primary-btn:hover span:nth-child(2) {
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.primary-btn:hover span:nth-child(3) {
    -webkit-transition-delay: 0.10s;
    -moz-transition-delay: 0.10s;
    -o-transition-delay: 0.10s;
    transition-delay: 0.10s;
}

.primary-btn:hover span:nth-child(4) {
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.primary-btn:hover span:nth-child(5) {
    -webkit-transition-delay: 0.20s;
    -moz-transition-delay: 0.20s;
    -o-transition-delay: 0.20s;
    transition-delay: 0.20s;
}

.primary-btn:hover span:nth-child(6) {
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.primary-btn:hover span:nth-child(7) {
    -webkit-transition-delay: 0.30s;
    -moz-transition-delay: 0.30s;
    -o-transition-delay: 0.30s;
    transition-delay: 0.30s;
}

.primary-btn:hover span:nth-child(8) {
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.primary-btn:hover span:nth-child(9) {
    -webkit-transition-delay: 0.40s;
    -moz-transition-delay: 0.40s;
    -o-transition-delay: 0.40s;
    transition-delay: 0.40s;
}

.primary-btn:hover span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    -moz-transition-delay: 0.45s;
    -o-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.primary-btn:hover span:nth-child(11) {
    -webkit-transition-delay: 0.50s;
    -moz-transition-delay: 0.50s;
    -o-transition-delay: 0.50s;
    transition-delay: 0.50s;
}

.primary-btn:hover span:nth-child(12) {
    -webkit-transition-delay: 0.55s;
    -moz-transition-delay: 0.55s;
    -o-transition-delay: 0.55s;
    transition-delay: 0.55s;
}

.primary-btn:hover span:nth-child(13) {
    -webkit-transition-delay: 0.60s;
    -moz-transition-delay: 0.60s;
    -o-transition-delay: 0.60s;
    transition-delay: 0.60s;
}

.primary-btn:hover span:nth-child(14) {
    -webkit-transition-delay: 0.65s;
    -moz-transition-delay: 0.65s;
    -o-transition-delay: 0.65s;
    transition-delay: 0.65s;
}

.primary-btn:hover span:nth-child(15) {
    -webkit-transition-delay: 0.70s;
    -moz-transition-delay: 0.70s;
    -o-transition-delay: 0.70s;
    transition-delay: 0.70s;
}

.primary-btn:hover span:nth-child(16) {
    -webkit-transition-delay: 0.75s;
    -moz-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.primary-btn:hover span:nth-child(17) {
    -webkit-transition-delay: 0.80s;
    -moz-transition-delay: 0.80s;
    -o-transition-delay: 0.80s;
    transition-delay: 0.80s;
}

.primary-btn:hover span:nth-child(18) {
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
    -o-transition-delay: 0.85s;
    transition-delay: 0.85s;
}

.primary-btn:hover span:nth-child(19) {
    -webkit-transition-delay: 0.90s;
    -moz-transition-delay: 0.90s;
    -o-transition-delay: 0.90s;
    transition-delay: 0.90s;
}

.primary-btn:hover span:nth-child(20) {
    -webkit-transition-delay: 0.95s;
    -moz-transition-delay: 0.95s;
    -o-transition-delay: 0.95s;
    transition-delay: 0.95s;
}

.primary-btn:hover span:nth-child(21) {
    -webkit-transition-delay: 1.00s;
    -moz-transition-delay: 1.00s;
    -o-transition-delay: 1.00s;
    transition-delay: 1.00s;
}

.primary-btn:hover span:nth-child(22) {
    -webkit-transition-delay: 1.05s;
    -moz-transition-delay: 1.05s;
    -o-transition-delay: 1.05s;
    transition-delay: 1.05s;
}

.primary-btn:hover span:nth-child(23) {
    -webkit-transition-delay: 1.10s;
    -moz-transition-delay: 1.10s;
    -o-transition-delay: 1.10s;
    transition-delay: 1.10s;
}

.primary-btn:hover span:nth-child(24) {
    -webkit-transition-delay: 1.15s;
    -moz-transition-delay: 1.15s;
    -o-transition-delay: 1.15s;
    transition-delay: 1.15s;
}

.primary-btn:hover span:nth-child(25) {
    -webkit-transition-delay: 1.20s;
    -moz-transition-delay: 1.20s;
    -o-transition-delay: 1.20s;
    transition-delay: 1.20s;
}
