.contact-area {
    background: #e45447;
    color: #fff;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-area .contact-title h2 {
    color: #fff;
    position: relative;
    margin-bottom: 45px;
    font-size: 48px;
    line-height: 45px;
}

.contact-area .contact-title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background: #fff;
}

.contact-area .contact-title h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.contact-area .contact-title p {
    max-width: 550px;
    margin: 0 auto;
    line-height: 1.6;
}

.contact-subline {
    gap: 80px;
    padding-top: 80px;
    width: 100%;
    max-width: 900px;
}

.contact-box {
    width: 100%;
    display: flex;
    gap: 35px;
    justify-content: center;
    cursor: pointer;
}

.social-img-fluid {
    width: 46px;
    height: 46px;
}

.btn-contact {
    margin-top: 50px;
}

.contact-box h4 {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.footer-area {
    height: 15vh;
    color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .contact-area .contact-title h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .contact-subline {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-box {
        margin: auto;
        gap: 24px
    }

    .contact-area .contact-title p {
        font-size: 15px;
    }

    .footer-area {
        text-align: center;
        font-size: 12px;
    }

    .social-img-fluid {
        width: 35px;
        height: 35px;
    }
}

/* Small (portrait tablet) */
@media (734px < width <=1068px) {
    .contact-area {
        /* border: 2px solid purple; */
    }

    .footer-area {
        text-align: center;
        font-size: 15px;
    }

}

/* Medium (tablet landscape / small laptop) */
@media (1068px < width <=1280px) {
    .contact-area {
        /* border: 2px solid #ffcc00; */
    }
}

/* Large desktop */
@media (1280px < width <=1440px) {
    .contact-area {
        /* border: 4px solid pink; */
    }
}

/* X-Large desktop */
@media (1440px < width <=1920px) {
    .contact-area {
        /* border: 4px solid red; */
    }
}

/* Ultra wide / 4K+ */
@media (width >=1921px) {
    .contact-area {
        /* border: 4px solid green; */
    }
}