.home-banner-area {
    background: url(../assets/banner-bg.jpg.webp) center;
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    padding: 0px 5%;
}

.banner-content {
    /* border: 1px solid; */
    flex: 1;
    padding: 15px;
    align-self: center;
}

.banner-content .me {
    background: #90acd1;
    padding: 18px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
}

.banner-content .me:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 0px solid transparent;
    border-top: 24px solid #90acd1;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-content .designation .designer {
    color: #e45447;
}

.banner-content .designation .developer {
    color: #90acd1;
}

.banner-content .designation {
    max-width: 390px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 50px;
}

.banner-img {
    flex: 1;
    text-align: center;
    align-self: center;
}

.banner-img img {
    max-width: 80%;
}

.img-fluid {}

.primary-btn span {
    display: inline-block;
    padding: 12px 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(10, 10px, 0);
    -moz-transform: translate3d(10, 10px, 0);
    -ms-transform: translate3d(10, 10px, 0);
    -o-transform: translate3d(10, 10px, 0);
    transform: translate3d(10, 10px, 0);
    -webkit-transition: all 0.3s 
ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s 
ease 0s;
    -webkit-transition-timing-function: 
cubic-bezier(0.75, 0, 0.125, 1);
    -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: 
cubic-bezier(0.75, 0, 0.125, 1);
}

a {
    text-decoration: none;
    outline: 0;
}

.primary-btn:hover {
    background: #fff;
    border: 1px solid #e45447;
}

.primary-btn:hover span {
    opacity: 1;
    color: #e45447;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.primary-btn {
    color: #fff;
    padding: 0 52px;
    background: #e45447;
    overflow: hidden;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    border: 1px solid #e45447;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 13px 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition-timing-function:
        cubic-bezier(0.75, 0, 0.125, 1);
    -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function:
        cubic-bezier(0.75, 0, 0.125, 1);
    color: #fff;
}

/* Extra Small (mobile) */
@media (width <=734px) {
    .home-banner-area {
        /* border: 2px solid #ff3b30; */
    }

    .banner-content .designation {
        max-width: 340px;
        font-size: 22px;
    }

    .container {
        padding: 0px 15px;
    }

    .brand-wrap {
        margin-top: -40px !important;
        padding: 18px 14px !important;
    }

    .banner-img {
        display: none;
    }

    .banner-content h1 {
        font-size: 45px;
    }

    .banner-content .designation {
        max-width: 300px;
        font-size: 24px;
    }
}

/* Small (portrait tablet) */
@media (734px < width <=1068px) {
    .home-banner-area {
        /* border: 2px solid purple; */
    }

    .banner-img {
        display: none;
    }

    .container {
        padding: 0px 14%;
    }

    .banner-content .designation {
        font-size: 28px;
    }

    .brand-wrap {
        margin-top: -55px !important;
        padding: 30px 14px !important;
    }

    .banner-content h1 {
        font-size: 45px;
    }
}

/* Medium (tablet landscape / small laptop) */
@media (1068px < width <=1280px) {
    .home-banner-area {
        /* border: 2px solid #ffcc00; */
    }

    .container {
        padding: 0px 6%;
    }


    .banner-img img {
        max-width: 70%;
    }

    .banner-img {
        position: relative;
        text-align: center;
        bottom: -50px;
    }

    .banner-content .designation {
        font-size: 28px;
    }

    .brand-wrap {
        margin-top: -60px !important;
        padding: 40px 14px !important;
    }

}

/* Large desktop */
@media (1280px < width <=1440px) {
    .home-banner-area {
        /* border: 4px solid pink; */
    }

    .banner-img img {
        max-width: 70%;
    }

    .banner-img {
        position: relative;
        bottom: -120px;
    }

    .brand-wrap {
        margin-top: -85px;
    }

}

/* X-Large desktop */
@media (1440px < width <=1920px) {
    .home-banner-area {
        /* border: 4px solid red; */
    }

    .banner-img img {
        max-width: 60%;
    }

    .banner-img {
        position: relative;
        bottom: -70px;
    }

    .banner-content h1 {
        font-size: 80px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .banner-content .designation {
        max-width: 520px;
        font-size: 32px;
    }

    .primary-btn {
        font-size: 22px;
    }

    .banner-content .me {
        padding: 22px;
    }

    .brand-wrap {
        margin-top: -85px !important;
    }

    .banner-img img {
        max-width: 70%;
    }

    .banner-img {
        position: relative;
        bottom: -90px;
    }
}

/* Ultra wide / 4K+ */
@media (width >=1921px) {
    .home-banner-area {
        /* border: 4px solid green; */
    }

    .banner-content h1 {
        font-size: 90px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .banner-content .designation {
        max-width: 550px;
        font-size: 36px;
    }

    .primary-btn {
        font-size: 22px;
    }

    .banner-content .me {
        padding: 22px;
    }

    .brand-wrap {
        margin-top: -85px !important;
    }

    .banner-img img {
        max-width: 60%;
    }

    .banner-img {
        position: relative;
        text-align: center;
        bottom: -90px;
    }

}