.section-title {
    margin-bottom: 80px;
}

.job-area {
    background: #f9f9ff;
}

/* Job Card */
.single-job {
 background-color: white;
    flex: 1 1 calc(33.33% - 30px);
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.single-job:hover {
    background: #90acd1;
    cursor: pointer;
    color: #fff;
}

/* Top section */
.single-job-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top-right .primary-btn {
    padding: 0px;
}

.top-right {
    align-self: end;
}

.top-left {
    margin-top: 0;
    display: flex;
    column-gap: 16px;
}

/* Job Wrapper */
.job-section {
    display: flex;
    flex-wrap: wrap;
    /* WRAP FIX */
    column-gap: 30px;
    /* Horizontal spacing */
    row-gap: 30px;
    /* Vertical spacing */
    color: #777777;
    justify-content: flex-start;
    /* FIXED: allows wrapping */
}

.section-title p {
    color: #777777;
}

.job-subline {
    color: #777777;
}

.experience-footer-logo {
    display: flex;
    border: 2px solid green;
    width: 52px;
    border-radius: 50%;
    height: 52px;
    align-items: center;
    justify-content: center;
}

.experience-footer-company-logo {
    width: 38px;
    height: 38px;
}

.top-right p {
    /* align-self: revert; */
}

.preview-img {
    width: 150px;
    border-radius: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.preview-img:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Responsive Fixes */

/* Extra Small (mobile) */
@media (width <=734px) {
    .job-area {
        /* border: 2px solid #ff3b30; */
    }

    .single-job {
        flex: 1 1 100%;
    }

    .job-footer {
        font-size: 12px;
    }
    
    .job-desc p {
        font-size: 12px;
    }

    .section-title p {
        font-size: 15px;
    }

    .job-subline {
        font-size: 15px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .primary-btn {
        font-size: 12px;
        padding: 0px 30px;
    }
}

/* Small (portrait tablet) */
@media (734px < width <=1068px) {
    .job-area {
        /* border: 2px solid purple; */
    }

    .single-job {
        flex: 1 1 100%;
    }

    .job-footer {
        font-size: 15px;
    }

    .job-desc p {
        font-size: 15px;
    }

    .section-title p {
        font-size: 15px;
    }

    .job-subline {
        font-size: 15px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .primary-btn {
        font-size: 15px;
    }
}

/* Medium (tablet landscape / small laptop) */
@media (1068px < width <=1280px) {
    .job-area {
        /* border: 2px solid #ffcc00; */
    }

    .single-job {
        flex: 1 1 calc(50% - 30px);
    }
}